<% content_for :title do %>
My Paste
<% end %>

<div class="row row-offcanvas row-offcanvas-left">
  <div class="form-group">
    <div class="col-sm-10" id="myfield" >
      <pre class="block"><%= @paste.content %></pre>
    </div>  
  </div>
</div>
